<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>flags</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
			<key>path</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>port</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<string>stable</string>
		<string>/Users/%USER/khan/stable</string>
		<string>8080</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<string>--use_sqlite</string>
		<string>--datastore_path=/Users/%USER/khan/stable/datastore/current.sqlite</string>
		<string>--blobstore_path=/Users/%USER/khan/stable/datastore/blobs</string>
		<string>--high_replication</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MBProject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MBProject</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>projects</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
